#header {
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(0,152,172);
}

#border {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(61, 116, 179);
    font-weight: 900;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    padding: 10px;
}

#selector{
    font-size: 30px;
    padding: 10px;
    
}